/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

    /* VARIABLES CSS */
:root {
    --header-height: 3.5rem;

    /* COLORS */
    --bgcolor-0: #171c26;
    --btn-color: #5eb9f0;
    --paragraph-color: #60697b;
    --heading-color: #343f52;
    --skyblue: #e5f45d;
    --white: #fff;
    --light-gray: #f0f8fe;

    /* FONT & TIPOGRAPHY */
    /* 5rem = 8px  |  1rem = 16px */
    --ffamily-main: "Urbanist", sans-serif;
    --ffamily-secundary: "Urbanist";
    --fontsize-h1: 54px;
    --fontsize-h2: 42px;
    --fontsize-h3: 23px;
    --fontsize-h4: 15px;
    --fontsize-paragraph: 17px;

    /* FONT WEIGHT */
    --fontweight-a: 600;
    --fontweight-h2: 700;
    --fontweight-h3: 600;
    --fontweight-h4: 600;
    --fontweight-paragraph: 600;

    /* LINE HEIGHT */
    --line-h1: 50px;
    --line-h2: 50px;
    --line-h3: 32px;
    --line-paragraph: 29px;
}

    /* BASE CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ffamily-main);
}

main {
    max-width: 1280px ;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ol,ul {
    list-style: none;
}
            /* HEADING TAGS */

h1 {
    color: var(--heading-color);
    font-size: var(--fontsize-h1);
    line-height: var(--line-h1);
}

h2 {
    color: var(--heading-color);
    font-size: var(--fontsize-h2);
    line-height: var(--line-h2);
    font-weight: var(--fontweight-h2);
}

h3 {
    color: var(--heading-color);
    font-size: var(--fontsize-h3);    
    line-height: var(--line-h3);
}

h4 {
    font-size: var(--fontsize-h4);
    font-weight: var(--fontweight-h4);
}

p {
    color: var(--paragraph-color);
    font-size: var(--fontsize-paragraph);    
    line-height: var(--line-paragraph);
}

                /* BUTTON STYLES */
.btn-primary {
    background-color: var(--btn-color);
    border-radius: 25px;
    box-shadow: 1px 0.1rem 0.5rem 0px rgb(60 60 60 / 39%);
    color: var(--white);
    display: block;
    padding: 16px;
    width: fit-content;
}

                /* NAVBAR STYLES */

.header {
    width: inherit;
    /* height: 100%; */
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    margin: 0 auto;
}

.ul_list {
    display: flex;
    align-items: center;
    gap: 1.5em;

    & a {
    color: var(--heading-color);
    font-weight: var(--fontweight-a);
    }

    & .btn-primary {
        color: var(--white);
        border-radius: 18px;
        padding: 10px 12px;
    }
}

                /* HERO STYLES */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px 40px 50px;

    & H1 {
        max-width: 405px;
        font-weight: 600;
        margin-bottom: 20px;
        line-height: 60px;

        & span {
            color: var(--btn-color);
        }
    }

    & p {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 34px;
    }
}

.hero_image {
    width: 600px;
    /* height: 600px; */
}

                /* SPONSORS STYLES */
.sponsors {
    height: 30px;
    text-align: center;
    padding-bottom: 90px;
    /* margin-bottom: 0px; */

    & h4 {
        margin-bottom: 50px;
        color: var(--paragraph-color);
    }
}
.sponsor_nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.sponsors_list {
    display: flex;
    align-items: center;
    margin: 0 40px 0 40px;
    gap: 20px;

}
.sponsors_items {
}

.sponsors_img {
    max-width: 100%;
    /* height: 20px; */
}




                /* SERVICES STYLES */
.services {
    background-color: var(--light-gray);
    padding: 50px;
    & h2 {
        max-width: 660px;
        margin: 0 auto 70px;
        text-align: center;
    }

    & h4 {
        text-align: center;
        margin: 15px 15px;
        color: var(--btn-color);
        text-transform: uppercase;
    }
}
.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services-items {
    text-align: center;

    & a {
        color: var(--btn-color);
        text-decoration: underline;
    }

    & h3 {
        margin-bottom: 15px;
    }

    & p {
        max-width: 316px;
        margin: 0 auto 20px;
    }

    & img {
        min-height: 230px;
    }
}
                /* TESTIMONIALS STYLES */       
.testimonials {
    background-color: var(--light-gray);
    padding: 50px;
    & h2 {
        max-width: 670px;
        margin: 0 auto 70px;
        text-align: center;
    }
    & h4 {
        text-align: center;
        margin: 15px 15px;
        color: var(--btn-color);
        text-transform: uppercase;
    }

}
.testimonials_team {
}

.testimonials_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    /* background-color: var(--white); */
    
}

.testimonials_items {
    background-color: white;
    margin: 10px ;
    padding: 30px 30px 30px 30px;

    & h4 {
        font-weight: 700;
    }

    & h5 {
        font-weight: 300;
    }
    & p {
        font-size: var(--fontsize-paragraph);
    }

    .img {
        max-width: 700px;
    }
}

.testimonials_group {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-top: 30px;

    & img {
        max-width: 70px;
    }
}
.testimonials_author {
    
    
}
.testimonials_description {

}
